nav {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: .5rem 4rem 1.5rem 4rem;
}

#navH1 {
    font-size: 3rem;
    font-family: Poiret One;
    color: #fff;
}

#navAnchor {
    font-size: 1.5rem;
    color: #fff;
    text-decoration: none;
}

#routes {
    font-family: Neue Machina;
}

ul {
    display: flex;
    list-style: none;
    gap: 4rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

li>#navAnchor {
    position: relative;
    color: #fff;
}

li>#navAnchor::after {
    content: '';
    position: absolute;
    width: 0;
    height: 0.2rem;
    background: #24cfa6;
    left: 0;
    bottom: -.6rem;
    transition: .4s ease;
    -webkit-transition: .4s ease;
    -moz-transition: .4s ease;
    -ms-transition: .4s ease;
    -o-transition: .4s ease;
}

li>#navAnchor:hover:after {
    width: 100%;
}

button {
    font-family: Neue Machina;
    padding: .7rem 1.5rem;
    border: none;
    border-radius: 4px;
    background-color: #24cfa6;
    font-size: 1.5rem;
    font-weight: 700;
    color: #000;
    font-size: 1.3rem;
    cursor: pointer;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
}